.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--c-bg);
  border-top: 1px solid var(--c-stroke);
  padding: var(--s-s) var(--s-l);

  @media screen and (min-width: 30rem) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  @media screen and (min-width: 50rem) {
    
  }
  
  @media screen and (min-width: 90rem) {
    
  }
  

  ul {
    list-style: none;
    display: flex;
    gap: var(--s-s);
    padding: 0;
    margin: 0;
  }
}

.footer__item {
  flex-basis: 100%;
  text-align: center;
  margin: 0;

  @media screen and (min-width: 30rem) {
    flex-basis: auto;
    text-align-last: left;
  }
  
  @media screen and (min-width: 50rem) {
    
  }
  
  @media screen and (min-width: 90rem) {
    
  }
  
}