.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: var(--s-s) var(--s-l);
  background-color: var(--c-bg);
  border-bottom: 1px solid var(--c-stroke);

  a {
    font-size: var(--t-s);
    color: var(--c-a);
    text-decoration: none;
    transition: transform 0.2s ease;

    &:hover {
      color: var(--c-stroke);
      /* font-weight: bold; */
      transform: translate(2px, 2px);
    }
  }

  &.active {
    font-weight: bold;
  }
}