.js .pagination {
  display: none;
}

.no-js .load-more {
  display: none;
}

.next {
  text-align: right;
}


.dates {

  dt {
    font-weight: bold;
    margin-top: var(--s-xs);
  }

  dd {
    margin: 0;

    p {
      margin: 0;
    }
  }


  &.single {

  }

  &.multiple {

    dt {
      
    }

    dd {

    }
  }

  &.range {

  }
}