.project {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--s-m);
  align-items: start;

  @media screen and (min-width: 600px) {}

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(12, 1fr);
    gap: var(--s-l);
  }

  @media screen and (min-width: 1200px) {}
}

.project__title {
  grid-column: span 6;
  margin-bottom: 0;
  font-size: var(--t-xxl);

  @media screen and (min-width: 900px) {
    grid-column: span 12;
  }
}

.project__intro {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 6;
  gap: var(--s-s);

  @media screen and (min-width: 900px) {
    grid-column: span 12;
  }

  @media screen and (min-width: 1800px) {
    grid-column: span 4;
  }
}

.project__info {
  grid-column: span 6;
  /* grid-template-columns: subgrid; */
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-xs) var(--s-m);
  color: var(--c-stroke);
  font-size: var(--t-s);

  @media screen and (min-width: 900px) {
    grid-column: span 12;
    gap: var(--s-m) var(--s-m);
  }

  @media screen and (min-width: 1200px) {
    /* flex-direction: column; */
    /* grid-column: span 2; */
    /* order: 2; */
  }

  p {
    margin: 0;
  }
}

.project__detail {
  margin: 0;
  flex-basis: 100%;

  @media screen and (min-width: 600px) {}

  @media screen and (min-width: 900px) {
    flex-basis: auto;
  }

  @media screen and (min-width: 1200px) {}


  /* &.year {
    grid-column: span 2;
  }
  &.collaborators {
    grid-column: span 2;
  }
  &.materials {
    grid-column: span 2;
  } */
}

.project__summary {
  font-size: var(--t-m);
  font-family: var(--t-header);
  grid-column: span 6;
  /* margin-top: var(--s-s); */

  @media screen and (min-width: 900px) {
    grid-column: span 6;
    margin-top: var(--s-m);
  }

  @media screen and (min-width: 1200px) {
    grid-column: span 5;
    /* margin-top: 0; */
  }

  &.alt {
    color: var(--c-b);
  }

  p {
    margin: 0;
    max-width: 30em;
  }
}

.project__cover {
  grid-column: span 6;
  transform: translate(0, 0);
  transition: all 0.2s ease;
  pointer-events: auto;

  &:hover {
    transform: translate(6px, 1px);
  }

  @media screen and (min-width: 900px) {
    grid-column: span 12;
  }

  @media screen and (min-width: 1800px) {
    grid-column: span 8;
  }
}

.project__descriptions {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 6;

  @media screen and (min-width: 900px) {
    grid-column: span 12;
  }
}

.project__description {
  grid-column: span 6;
  font-family: var(--t-header);
  font-size: var(--t-m);
  margin-bottom: var(--s-l);

  @media screen and (min-width: 900px) {
    grid-column: span 6;
  }

  &.eng {
    order: 2;

    @media screen and (min-width: 900px) {
      order: 3;
    }
  }

  &.spa {
    order: 4;

    @media screen and (min-width: 900px) {
      order: 4;
    }
  }

  h2 {
    font-weight: bold;
  }

  p,
  h2 {
    margin: 0;
  }

  p+p {
    margin-top: var(--s-xs);
  }

  h2+p {
    margin-top: var(--s-xs);
  }

  p+h2 {
    margin-top: var(--s-s);
  }
}

.project__materials {
  font-size: var(--t-s);
  font-family: var(--t-body);
  color: var(--c-stroke);
  grid-column: span 6;

  &.eng {
    order: 1;

    @media screen and (min-width: 900px) {
      order: 1;
    }
  }

  &.spa {
    order: 3;

    @media screen and (min-width: 900px) {
      order: 2;
    }
  }
}

.project__gallery {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 6;
  gap: var(--s-l);

  @media screen and (min-width: 900px) {
    grid-column: span 12;
  }
}

.project__image {
  text-decoration: none;
  transform: translate(0, 0);
  transition: all 0.2s ease;
  pointer-events: auto;

  &:hover {
    transform: translate(6px, 1px);
  }

  &.portrait {
    grid-column: span 6;

    @media screen and (min-width: 600px) {
      grid-column: span 3;
    }
  }

  &.landscape {
    grid-column: span 6;
  }
}

.project__video-container {
  grid-column: span 6;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.project__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}